.board{
    width: calc(70px*8);
    height: calc(70px*8);
    display: flex;
}

.cell{
    width: 70px;
    height: 70px;
    display: flex;

    align-items: center;
    justify-content: center;

}

.black{
    background-color: rgb(68, 62, 62);
}

.white{
    background-color:  #e2cc39f4;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
}

.board-row {
  display: flex;
}

.selected{
  background-color: rgb(24, 32, 183);
}

.possible-move-black{
  background-color: rgb(23, 97, 66)
}

.possible-move-white{
  background-color: rgb(179, 224, 197)
}


.board {
  transition: transform 1s ease-in-out;
}
